<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Naveen Chanda

-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:outputStylesheet library="css/productmanagement" name="mediaManagement.css"/>
<h:outputStylesheet library="css/common" name="fileUpload.css"/>
<h:head>
    <h:outputScript library="javascript/common" name="fileUpload.js"/>
    <script type="text/javascript">
        initializeFileUpload({
            formId:'batchEnrollmentForm',
            buttonId:'uploadBtn_input',
            instructionsId:'uploadInstr',
            offsetLeft:10,
            offsetTop:5
        });
    </script>
</h:head>

<h:panelGrid columns="1" width="100%">
    <h2>#{messageBundle['batch.enrollment']}</h2>

    <p:growl id="messages" showDetail="false"/>

    <h:panelGroup style="width:100%;float: left; text-align:right;">
        <h:form>
            <p:spacer height="20px"/>
            <p:commandButton id="downloadLink"  value="#{messageBundle['batch.label.downloadTemplate']}" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop)">
                <p:fileDownload value="#{batchEnrollmentBean.template}" />
            </p:commandButton>
        </h:form>
    </h:panelGroup>

    <h:form id="batchEnrollmentForm" enctype="multipart/form-data">
        <h:panelGrid id="uploadGrid" columns="1" style="margin-bottom:2px" cellpadding="2" width="100%">
            <p:panel id="batchEnr">
                <f:facet name="header">
                    <h:outputText value="#{messageBundle['batch.note.allowableExtns']}"
                                  styleClass="#{portalSkinManagedBean.contentPortletSkin.strongTextStyle}"/>
                </f:facet>
                <strong>#{messageBundle['batch.upload.header']}&nbsp;&nbsp;</strong>
                <h:panelGrid columns="2">
                    <p:fileUpload id="uploadBtn" style="white-space: nowrap;" value="#{batchEnrollmentBean.file}"   mode="advanced"   sizeLimit="100000"
                          required="true" requiredMessage="#{messageBundle['batch.upload.requiredMessage']}"
                          allowTypes="/(\.csv)$/" label="#{messageBundle['chooseFile']}" showButtons="false"/>
                    <p:commandLink id="uploadInstr" style="padding-bottom:15px;font-weight:bold" value="#{messageBundle['batch.instructions']}" ajax="true" oncomplete="batchEnrollmentInstructionsDialog.show()"/>
                </h:panelGrid>
            </p:panel>
            <p:commandButton value="#{messageBundle['batch.submit']}" ajax="false" widgetVar="startButton"  styleClass="orangeButton" action="#{batchEnrollmentBean.handleFileUpload}"   update="messages, :batchEnrollmentForm:batchEnrollmentDetails"/>
        </h:panelGrid>

        <h:panelGrid id="batchEnrollmentDetails" cellpadding="5" width="100%">
            <strong>#{messageBundle['batch.enrollments.list.header']}</strong>
            <p:dataTable var="batchEnrollment" id="batchEnrollmentTable" value="#{batchEnrollmentBean.batchEnrollmentList}"
                         rowKey="#{batchEnrollment.id}" paginator="true" rows="5" emptyMessage="#{messageBundle.tableNoResultsFound}"
                         paginatorAlwaysVisible="false"  >

                <p:column style="width:20%;word-wrap:break-word;white-space:normal;vertical-align:bottom" sortBy="#{batchEnrollment.batchEnrollmentDate}" filterBy="#{batchEnrollment.batchEnrollmentDate}" filterMatchMode="contains" >

                    <f:facet name="header">
                        <br/><h:outputText value="#{messageBundle['batch.table.column.date']}"/>
                    </f:facet>

                    <h:outputText value="#{batchEnrollment.batchEnrollmentDate}"/>
                </p:column>

                <p:column style="width:25%;word-wrap:break-word;white-space:normal;vertical-align:bottom" sortBy="#{batchEnrollment.filename}" filterBy="#{batchEnrollment.filename}" filterMatchMode="contains">

                    <f:facet name="header">
                        <br/> <h:outputText value="#{messageBundle['batch.table.column.fileName']}"/>
                    </f:facet>

                    <h:outputText value="#{batchEnrollment.filename}"/>
                </p:column>

                <p:column style="width:20%;word-wrap:break-word;white-space:normal;vertical-align:bottom" sortBy="#{batchEnrollment.admin.name}" filterBy="#{batchEnrollment.admin.name}" filterMatchMode="contains">

                    <f:facet name="header">
                        <br/> <h:outputText value="#{messageBundle['batch.table.column.admin']}"/>
                    </f:facet>

                    <h:outputText value="#{batchEnrollment.admin.name}"/>
                </p:column>

                <p:column style="width:20%;word-wrap:break-word;white-space:normal;vertical-align:bottom" sortBy="#{batchEnrollment.status.description}" filterBy="#{batchEnrollment.status.description}" filterMatchMode="startsWith">

                    <f:facet name="header">
                        <br/><h:outputText value="#{messageBundle['batch.table.column.status']}"/>
                    </f:facet>

                    <h:outputText value="#{batchEnrollment.status.description}"/>
                </p:column>

                <p:column style="width:15%;word-wrap:break-word;white-space:normal" >

                    <f:facet name="header">
                        <br/><h:outputText value="#{messageBundle['batch.table.column.Action']}"/>
                    </f:facet>

                    <h:panelGroup rendered="#{batchEnrollment.status.name == 'VALIDATION_ERROR' or batchEnrollment.status.name == 'RECORDS_UPLOADED'  }">
                        <p:commandLink ajax="false" value="#{messageBundle['batch.label.review']}" action="#{batchEnrollmentBean.displayErrorRecords}" process="@this" immediate="true"   >
                            <f:setPropertyActionListener value="#{batchEnrollment}" target="#{batchEnrollmentBean.selectedBatchEnrollment}" />
                        </p:commandLink>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{batchEnrollment.status.name == 'PROCESSED_ERRORS' or batchEnrollment.status.name == 'INACTIVE'
                                                or batchEnrollment.status.name == 'CANCELLED' or batchEnrollment.status.name == 'ERROR'}">
                        <p:commandLink ajax="false" value="#{messageBundle['batch.label.viewErrors']}" action="#{batchEnrollmentBean.displayErrorRecords}" process="@this" immediate="true"   >
                            <f:setPropertyActionListener value="#{batchEnrollment}" target="#{batchEnrollmentBean.selectedBatchEnrollment}" />
                        </p:commandLink>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{batchEnrollment.status.name == 'PROCESSED' }">
                        <h:outputText value="#{messageBundle['batch.label.noErrors']}" />
                    </h:panelGroup>

                    <h:panelGroup rendered="#{batchEnrollment.status.name == 'UPLOADING' or batchEnrollment.status.name == 'PROCESSING'}">
                        <p:commandLink ajax="true" value="#{messageBundle['batch.label.refresh']}" process="@this" action="#{batchEnrollmentBean.reset}" update=":batchEnrollmentForm:batchEnrollmentDetails" />
                    </h:panelGroup>

                </p:column>
            </p:dataTable>
        </h:panelGrid>
        <ui:include src="batchEnrollmentInstructions.xhtml"/>
    </h:form>
</h:panelGrid>
</html>