<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Naveen Chanda

-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
        >
<h:outputStylesheet library="css/productmanagement" name="mediaManagement.css"/>
<h:outputStylesheet library="css/common" name="fileUpload.css"/>
<h:head>
    <h:outputScript library="javascript/common" name="fileUpload.js"/>
    <script type="text/javascript">
        initializeFileUpload({
            formId:'batchRegistrationForm',
            buttonId:'uploadBtn_input',
            instructionsId:'uploadInstr',
            offsetLeft:10,
            offsetTop:5
        });
    </script>
</h:head>

      <h:panelGrid columns="1" width="100%">
          <h2>#{messageBundle['batch.registration']}</h2>

          <p:growl id="messages" showDetail="false"/>

           <h:panelGroup style="width:100%;float: left; text-align:right;">
               <h:form>
                   <p:spacer height="20px"/>
                   <p:commandButton id="downloadLink"  value="#{messageBundle['batch.label.downloadTemplate']}" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop)">
                        <p:fileDownload value="#{batchRegistrationManagedBean.template}" />
                   </p:commandButton>
               </h:form>
           </h:panelGroup>


            <h:form id="batchRegistrationForm" enctype="multipart/form-data">
                <h:panelGrid id="uploadGrid" columns="1" style="margin-bottom:2px" cellpadding="5" width="100%">
                    <p:panel id="batchReg">
                    <f:facet name="header">
                        <h:outputText value="#{messageBundle['batch.note.allowableExtns']}"
                                      styleClass="#{portalSkinManagedBean.contentPortletSkin.strongTextStyle}"/>
                    </f:facet>
                    <strong>#{messageBundle['batch.upload.header']}&nbsp;&nbsp;</strong>
                   <h:panelGrid columns="2">
                        <p:fileUpload id="uploadBtn" style="white-space: nowrap;" fileUploadListener="#{batchRegistrationManagedBean.handleFileUpload}" allowTypes="/(\.|\/)(csv)$/" invalidFileMessage="#{messageBundle['batch.user.upload.invalidFileFormat']}" label="#{messageBundle['chooseFile']}"   simple="true" showButtons="false" auto="true"   sizeLimit="100000" update="batchRegistratonDetails"  required="true" requiredMessage="#{messageBundle['batch.upload.requiredMessage']}"  />
                        <p:commandLink id="uploadInstr" style="padding-bottom:15px;font-weight:bold" value="#{messageBundle['batch.instructions']}" ajax="true" oncomplete="batchInstructionsDialog.show()"/>

                   </h:panelGrid>
                    </p:panel>

                </h:panelGrid>

                <h:panelGrid id="batchRegistratonDetails" cellpadding="5" width="100%">
                    <strong>#{messageBundle['batch.table.header']}</strong>
                    <p:dataTable var="batchReg" id="batchRegistrationTable" value="#{batchRegistrationManagedBean.batchRegistrationList}"
                                 rowKey="#{batchReg.batchRegistrationId}" paginator="true" rows="5" emptyMessage="#{messageBundle.tableNoResultsFound}"
                                 widgetVar="widgetbatchRegistration" paginatorAlwaysVisible="false"  >

                        <p:column style="width:20%;word-wrap:break-word;white-space:normal;vertical-align: bottom" sortBy="#{batchReg.registrationDate}" filterBy="#{batchReg.registrationDate}" filterMatchMode="contains" >

                            <f:facet name="header">
                                <br/><h:outputText value="#{messageBundle['batch.table.column.date']}"/>
                            </f:facet>

                            <h:outputText value="#{batchReg.registrationDate}"/>
                        </p:column>

                        <p:column style="width:25%;word-wrap:break-word;white-space:normal;vertical-align:bottom" sortBy="#{batchReg.fileName}" filterBy="#{batchReg.fileName}" filterMatchMode="contains">

                            <f:facet name="header">
                                <br/><h:outputText value="#{messageBundle['batch.table.column.fileName']}"/>
                            </f:facet>

                            <h:outputText value="#{batchReg.fileName}"/>
                        </p:column>

                        <p:column style="width:20%;word-wrap:break-word;white-space:normal;vertical-align:bottom" sortBy="#{batchReg.adminId.name}" filterBy="#{batchReg.adminId.name}" filterMatchMode="contains">

                            <f:facet name="header">
                                <br/><h:outputText value="#{messageBundle['batch.table.column.admin']}"/>
                            </f:facet>

                            <h:outputText value="#{batchReg.adminId.name}"/>
                        </p:column>

                        <p:column style="width:20%;word-wrap:break-word;white-space:normal;vertical-align:bottom" sortBy="#{batchReg.status.description}" filterBy="#{batchReg.status.description}" filterMatchMode="startsWith">

                            <f:facet name="header">
                                <br/><h:outputText value="#{messageBundle['batch.table.column.status']}"/>
                            </f:facet>

                            <h:outputText value="#{messageBundle[batchReg.status.description]}"/>
                        </p:column>

                        <p:column style="width:15%;word-wrap:break-word;white-space:normal" >

                            <f:facet name="header">
                                <br/><h:outputText value="#{messageBundle['batch.table.column.Action']}"/>
                            </f:facet>

                            <h:panelGroup rendered="#{batchReg.status.batchRegistrationStatusId == 6 or batchReg.status.batchRegistrationStatusId == 3  }">
                                <p:commandLink ajax="false" value="#{messageBundle['batch.label.review']}" action="#{batchRegistrationManagedBean.displayErrorRecords}" process="@this" immediate="true"   >
                                    <f:setPropertyActionListener value="#{batchReg}" target="#{batchRegistrationManagedBean.selectedBatchRegistration}" />
                                </p:commandLink>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{batchReg.status.batchRegistrationStatusId == 11 or batchReg.status.batchRegistrationStatusId == 2 or batchReg.status.batchRegistrationStatusId == 8 or batchReg.status.batchRegistrationStatusId == 7}">
                                <p:commandLink ajax="false" value="#{messageBundle['batch.label.viewErrors']}" action="#{batchRegistrationManagedBean.displayErrorRecords}" process="@this" immediate="true"   >
                                    <f:setPropertyActionListener value="#{batchReg}" target="#{batchRegistrationManagedBean.selectedBatchRegistration}" />
                                </p:commandLink>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{batchReg.status.batchRegistrationStatusId == 5 }">
                                <h:outputText value="#{messageBundle['batch.label.noErrors']}" />
                            </h:panelGroup>

                            <h:panelGroup rendered="#{batchReg.status.batchRegistrationStatusId == 9 or batchReg.status.batchRegistrationStatusId == 4}">
                                <p:commandLink ajax="true" value="Refresh" process="@this" action="#{batchRegistrationManagedBean.init}" update=":batchRegistrationForm:batchRegistratonDetails" />
                            </h:panelGroup>


                        </p:column>
                    </p:dataTable>
                </h:panelGrid>
                <!--View Batch Upload Instructions dialog -->
                <p:dialog id="batchInstructionsDialogID" header="#{messageBundle['batch.instructions.header']}"
                          widgetVar="batchInstructionsDialog" modal="true"
                          height="#{calcScreenSize.screenHeight * 0.85}" width="#{calcScreenSize.screenWidth * 0.85}"
                          resizable="false">
                    <p:spacer height="20"/>

                    <h:panelGrid columns="1" width="100%" id="notificationDetailPopupGridID">
                        <h:outputText styleClass="#{portalSkinManagedBean.contentPortletSkin.strongTextStyle}"
                                      value="#{messageBundle['batch.instructions.orgName.header']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.orgName.details']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.orgName.note']}"
                                      escape="false"/>
                        <p:spacer height="20"/>

                        <h:outputText styleClass="#{portalSkinManagedBean.contentPortletSkin.strongTextStyle}"
                                      value="#{messageBundle['batch.instructions.firstName.header']}"
                                      escape="false" />
                        <h:outputText value="#{messageBundle['batch.instructions.firstName.details']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.firstName.note']}"
                                      escape="false"/>

                        <p:spacer height="20"/>

                        <h:outputText styleClass="#{portalSkinManagedBean.contentPortletSkin.strongTextStyle}"
                                      value="#{messageBundle['batch.instructions.lastName.header']}"
                                      escape="false" />
                        <h:outputText value="#{messageBundle['batch.instructions.lastName.details']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.lastName.note']}"
                                      escape="false"/>
                        <p:spacer height="20"/>

                        <h:outputText styleClass="#{portalSkinManagedBean.contentPortletSkin.strongTextStyle}"
                                      value="#{messageBundle['batch.instructions.email.header']}"
                                      escape="false" />
                        <h:outputText value="#{messageBundle['batch.instructions.email.details']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.email.note']}"
                                      escape="false"/>
                        <p:spacer height="20"/>

                        <h:outputText styleClass="#{portalSkinManagedBean.contentPortletSkin.strongTextStyle}"
                                      value="#{messageBundle['batch.instructions.password.header']}"
                                      escape="false" />
                        <h:outputText value="#{messageBundle['batch.instructions.password.details']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.password.note']}"
                                      escape="false"/>
                        <p:spacer height="20"/>

                        <h:outputText styleClass="#{portalSkinManagedBean.contentPortletSkin.strongTextStyle}"
                                      value="#{messageBundle['batch.instructions.language.header']}"
                                      escape="false" />
                        <h:outputText value="#{messageBundle['batch.instructions.language.details']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.note']}"
                                      escape="false"/>
                        <p:spacer height="20"/>

                        <h:outputText styleClass="#{portalSkinManagedBean.contentPortletSkin.strongTextStyle}"
                                      value="#{messageBundle['batch.instructions.language.support.languages']}"
                                      escape="false" />

                        <h:outputText value="#{messageBundle['batch.instructions.language.support.English']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Spanish']}"
                                                                    escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Japanese']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.German']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.French']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.English_-_America']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.French_-_Canada']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.French_-_France']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Spanish_-_Spain']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Spanish_-_Mexico']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Spanish_-_Argentina']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Portuguese']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Portuguese_-_Portugal']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Portuguese_-_Brazil']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Italian']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Russian']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Korean']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Chinese']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Chinese_-_China']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Chinese_-_Taiwan']}"
                                      escape="false"/>
                        <h:outputText value="#{messageBundle['batch.instructions.language.support.Indonesian']}"
                                      escape="false"/>

                        <p:spacer height="20"/>

                        <h:outputText styleClass="#{portalSkinManagedBean.contentPortletSkin.strongTextStyle}"
                                      value="#{messageBundle['batch.instructions.ref1.header']}"
                                      escape="false" />
                        <h:outputText value="#{messageBundle['batch.instructions.ref1.note']}"
                                      escape="false"/>
                        <p:spacer height="20"/>

                        <h:outputText styleClass="#{portalSkinManagedBean.contentPortletSkin.strongTextStyle}"
                                      value="#{messageBundle['batch.instructions.ref2.header']}"
                                      escape="false" />
                        <h:outputText value="#{messageBundle['batch.instructions.ref2.note']}"
                                      escape="false"/>
                        <p:spacer height="20"/>

                        <h:outputText styleClass="#{portalSkinManagedBean.contentPortletSkin.strongTextStyle}"
                                      value="#{messageBundle['batch.instructions.ref3.header']}"
                                      escape="false" />
                        <h:outputText value="#{messageBundle['batch.instructions.ref3.note']}"
                                      escape="false"/>
                        <p:spacer height="20"/>

                        <h:panelGroup id="notificationDetailBtnCls">
                            <p:commandButton
                                    ajax="true"
                                    value="#{messageBundle['notification.tab.close.button']}"
                                    oncomplete="batchInstructionsDialog.hide()">
                            </p:commandButton>
                        </h:panelGroup>

                    </h:panelGrid>
                </p:dialog>
                <!-- End View Batch Upload Instructions  -->

            </h:form>
    </h:panelGrid>
</html>